@model FPTBookStore.Models.Book

@{ ViewBag.Title = "Delete"; }

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <div class="row">
        <div class="col-md-2 img-container">
            <img src="~/Content/Images/Books/@Html.DisplayFor(model => model.CoverUrl)" alt="@Html.DisplayFor(model => model.Name)'s Cover" class="small-cover" />
        </div>
        <div class="col-md-10">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Author)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Author)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Category.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Category.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StockedQuantity)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StockedQuantity)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedDateTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedDateTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UpdatedDateTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UpdatedDateTime)
                </dd>

                <dd class="top-gap">
                    @using (Html.BeginForm())
                    {
        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                        </div>}
                </dd>

            </dl>
        </div>
    </div>
</div>
